<div ng-controller="MainController">

    <div layout="row">
        <div flex-gt-sm="66" flex="33">
            <map zoom="17" center="23.8103, 90.4125">
                <marker ng-repeat="pos in positions" position="{{pos.latitude}}, {{pos.longitude}}" id="{{pos.index}}" on-dragend="pinClicked(this)" title="{{pos.title}}" draggable="true">
            </map>
            {{latitude}}, {{longitude}}
        </div>
        <div flex-gt-sm="33" flex="66">
            <div layout="column" layout-align="center center">
                <md-input-container>
                    <label>Address</label>
                    <input type="text" name="address" ng-model="address">
                </md-input-container>

                <md-input-container>
                    <label>Search For Address</label>
                    <input type="text" ng-model="code" ng-minlength="5" ng-blur="search_for_address()">
                </md-input-container>

                <md-button class="md-raised" ng-disabled="true|false" aria-label="description" md-no-ink="true|false" md-ripple-size="full|partial|auto" ng-click="send_address()">Get-Code</md-button>
                <br>

                <div>
                    <span>Address---------code</span>
                    <div ng-repeat="add in $storage.code">
                        <span>{{add.address}}---------{{add.code}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>